.command-palette{
    $borderRadius: 5px;

    display: block;
    position: relative;
    border-radius: $borderRadius;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);

    // Config Settings
    &.grounded{
        width: 90%;
        margin: 1em auto;
    }

    // General
    .command-line{
        border: none;
        width: 100%;
        display: block;
        box-sizing: border-box;
        outline: none;
        font-size: 32px;
        padding: 10px;
        border-radius: $borderRadius;
    }

    .results{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        height: auto;
    }
}
