.command-palette{
    $borderRadius: 5px;

    display: block;
    position: relative;
    border-radius: $borderRadius;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);

    // Config Settings
    &.grounded{
        width: 90%;
        margin: 1em auto;
    }

    // General
    .command-line{
        position: relative;
        z-index: 1100;
        border: none;
        width: 100%;
        display: block;
        box-sizing: border-box;
        outline: none;
        font-size: 32px;
        padding: 10px;
        border-radius: $borderRadius;
        border: 1px solid #ccc;
    }

    .results{
        position: relative;
        top: 100%;
        left: 0;
        right: 0;
        margin: 0;
        padding: 0;
        height: auto;
        list-style-type: none;
        z-index: 1500;
    }

    .result{
        padding: 10px;
        font-size: 22px;
    }
}
