language: node_js
node_js:
  - "6"
  - "5.3"
before_script:
  - npm install -g gulp
  - npm install -g mocha
  - npm install -g mocha-phantomjs
  - npm install -g http-server
  - gulp build --debug
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - sleep 3
  - nohup http-server ./ &
  - sleep 3
script: mocha-phantomjs -t 15000 http://localhost:8080/test/harnesses/test.html
